.frm_wrap {
	--medium-grey: #282F36A6;
	--light-grey: #CCD0D4;
	--lightest-grey: #FAFAFA;
	--primary-color: #4299FD;
	--primary-hover: #3177C7;
	max-width: 100% !important;
	width: 80% !important;
	margin: 0 auto !important;
	background: #fff;
	font-family: "Segoe UI","Helvetica Neue",sans-serif !important;
	padding-bottom: 25px;
	border-radius: 5px;
}

.frm_wrap > .wrap {
	margin: 10px 40px 30px;
}

.frm_wrap .striped > tbody > :nth-child(odd) {
	background-color: #fff;
}

#frm_top_bar {
	display: block;
	width: 100%;
	max-height: 100px;
	padding: 25px 40px 25px;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

.frm_top_left {
	text-align: left;
	float: left;
	white-space: nowrap;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.frm_top_left.frm_top_wide {
	max-width: 100%;
}

.frm-header-logo,
.edit-php.post-type-frm_display .frm-header-logo {
	display: none;
}

.frm_wrap #frm_top_bar h1 {
	font-size: 22px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: var(--medium-grey);
	display: inline-block;
	line-height: 1.4;
}

.frm_wrap strong, .frm_wrap i {
	font-size: 13px;
}
#frm-publishing {
	float: right;
	margin-top: 15px;
	width: 225px;
	min-height: 10px;
}
.frm-button-primary {
	background-color: var(--primary-color) !important;
	color: #fff !important;
}

.tablenav {
    clear: both;
    height: 30px;
    margin: 6px 0 4px;
    padding-top: 5px;
    vertical-align: middle;
}

.tablenav .tablenav-pages {
    float: right;
    margin: 0 0 9px;
}

.tablenav .one-page .displaying-num {
    display: inline-block;
	margin: 5px 0;
	font-size: 13px;
}

.tablenav .view-switch {
    float: right;
    margin: 0 5px;
    padding-top: 3px;
}

.frm_wrap table.widefat {
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.frm_wrap .widefat {
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
}

.frm_wrap .widefat td, .frm_wrap .widefat th {
	color: #50575e;
}
.frm_wrap .widefat td, .frm_wrap .widefat td ol, .frm_wrap .widefat td p, .frm_wrap .widefat td ul {
	font-size: 13px;
	line-height: 1.5em;
}
.frm_wrap .widefat td {
	vertical-align: top;
}
.frm_wrap .widefat td, .frm_wrap .widefat th {
	padding: 8px 10px;
	text-align: center;
}
.frm_wrap .widefat * {
	word-wrap: break-word;
}
